body {
    font-family: 'Oswald', sans-serif;
    background: #DCDCDC; }

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.dropdown ul *{
    font-size: 12px; }

footer {
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: 20px; }

.box-area {
    background: white;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    margin-top: 2px;
    padding: 10px 5px;
}

p {
    font-family: 'Slabo 27px', serif; }

.red {
    background-color: darkcyan;
    color: white;
    height: 140px;
}

.violet {
    background-color: blueviolet;
    color: white;
    height: 140px;
}

.red:hover, .violet:hover {
    opacity: 0.7;
    transition: .2s;
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    color: white;
}

.desc {
    display: block;
    font-size: 1.3em;
    text-align: center;
}

.count {
    font-size: 3.5em;
    text-align: center;
    display: block;
}